# HTTPS Termination happens in Azure WAF
# This is only HTTP 80

:80 {
  #tls /root/.caddy/wildcard.red.vizix.io/bundle-ca.pem /root/.caddy/wildcard.red.vizix.io/key.pem
  tls off
  gzip
  log / stdout "{remote} - tenant:staging.red [{when}] \"{method} {uri} {proto}\" Rewrite: {rewrite_path} Response: {status} Size: {size} Latency: {latency_ms} Request: {request} Body: {request_body}"
  errors stderr
  timeouts 2h

  proxy / ui:80 {
    policy round_robin
    health_check /console/scripts/config.js
    transparent
  }

##########################################
#                                        #
#             SERVICES API               #
#                                        #
##########################################

  rewrite /riot-core-services/api/reportExecution {
    r (.*)
    if {path} not_has updateThing
    if {path} not_has createThing
    if {path} not_has deleteThingByReport
    if {path} not_has thing/bulkUpdate
    if {path} not_has thing/massiveBulkProcess
    if {path} not_has attachment/download
    if {path} not_has attachment/upload
    if {path} not_has ThingByReport
    if {path} not_has actionExecution
    if {path} not_has kill-massive-process
    # new rules
    if {path} not_has visibility
    if {path} not_has zoneGroup
    if {path} not_has zoneType
    if {path} not_has zone
    if {path} not_has localMap
    if {path} not_has zone/geojson
    if {path} not_has actionExecution
    if {path} not_has shift
    ############
    if_op and
    to /riot-core-reports/api/reportExecution{1}
  }

  proxy /riot-core-reports/api/reportExecution reports:8080 {
    policy round_robin
    transparent
  }

  rewrite /riot-core-services/api/things {
    r (.*)
    if {method} has GET
    if_op and
    to /riot-core-reports/api/things{1}
  }

  proxy /riot-core-reports/api/things reports:8080 {
    policy round_robin
    transparent
  }

  proxy /riot-core-services services:8080 {
    policy round_robin
    health_check /riot-core-services/api/swagger.json
    transparent
  }

##########################################
#                                        #
# Rewrite and redirect from Mobile PATCH #
#    To do: improve performance          #
#                                        #
##########################################
  proxy /vizix-cdn minio:9000 {
    transparent
    without /vizix-cdn
  }

  proxy /minio minio:9000 {
    transparent
  }

  proxy /merchandising-dashboard externaltransformer:8080 {
    transparent
    policy round_robin
  }

  rewrite /riot-core-services {
    if {path} has thingBridge
    r /api(.*)
    to /http-bridge{1}
  }

  proxy /http-bridge hbridge:8080 {
    policy round_robin
    health_check /http-bridge/thingBridge/thing
    transparent
    websocket
  }

#  proxy /vizix-stack vstack:80 {
#    transparent
#    without /vizix-stack
#  }

##########################################
#                                        #
#   Rules for /CXI Endpoints             #
#                                        #
##########################################

  proxy /serialization-api externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /epcis-core externaltransformer:8080 {
    policy round_robin
    transparent
  }

  proxy /statemachine-api-dashboard-monitoring externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-monitoring externaltransformer:8080 {
    policy round_robin
    transparent
  }

  proxy /api externaltransformer:8080 {
    policy round_robin
    transparent
  }

  proxy /notifications https://onesignal.com/api/v1/notifications {
  without /notifications
  }

  proxy /static externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /epcis-events-input-rest/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-status-rest/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-epcis-events-input-rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-configuration/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-aggregates/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /product-recommendation-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }

  proxy /product-api/rest/products/productCode externaltransformer:8080/product-api/rest/products/productcode {
    policy round_robin
    without /product-api/rest/products/productCode
    transparent
  }

  proxy /product-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-supervision/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }

  proxy /supply-chain-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /supply_chain/transactions externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /results externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /configurations externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-epcis-events-input-rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /openapi externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /backoffice externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /printing-api/rest externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /printing-dashboard externaltransformer:8080 {
    policy round_robin
    transparent
  }
   proxy /statemachine-api-dashboard-configuration externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /configuration-dashboard externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /statemachine-api-monitoring externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /digital-signature externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /tag-management externaltransformer:8080 {
    policy round_robin
    transparent
  }
  proxy /tag-management-ws externaltransformer:8080 {
    policy round_robin
    transparent
  }

  redir /flow /flow/

  proxy /flow flow:1880 {
    policy round_robin
    without /flow
#    health_check /
    transparent
    websocket
  }
}

red-stag-es.vizix.io:80 {
  redir https://{host}{uri}
}

red-stag-es.vizix.io:443 {
  tls /etc/bundle-ca.pem /etc/key.pem
  gzip
  log / stdout "{remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} {latency}"
  basicauth / admin nTe6N3uiq3VcpApZeAobFNjJ
  proxy / shopcx-elasticsearch-monitoring:9200 {
    transparent
    policy round_robin
  }
}

