var thing = thingWrapper.getThing(); // Thing from DB
var thingType = thingWrapper.getThingType().getCode();
var thingMessage = thingWrapper.getThingMessage();
var thingTypeCode = thingMessage.getThingTypeCode();
var messageTimestamp = thingMessage.getTime();
var source = thingMessage.getUdf("source").getValue();



// function setValues(thingWrapper){
//     thing = thingWrapper.getThing(); // Thing from DB
//     thingType = thingWrapper.getThingType().getCode();
//     thingMessage = thingWrapper.getThingMessage();
//     thingTypeCode = thingMessage.getThingTypeCode();
//     messageTimestamp = thingMessage.getTime();
//     source = thingMessage.getUdf("source").getValue();
//     //source = 'que se yo';
// }

function sum( a,b ){
    return a*b;
}

name="Hello world !!!!!!!!!!!!!!!!!!!!!!!!!!!!1";
